color-primary = hsl(217, 19%, 35%)
color-secondary = hsl(214, 17%, 51%)
color-primary-light = hsl(212, 23%, 69%)
color-light = hsl(210, 46%, 95%)

font-marope = 'Manrope', sans-serif

font-13 = 13px

font-weight-500 =  500
font-weight-700 =  700